.constructorContainer{
    width: 600px;
    height: 912px;
    left: 340px;
    top: 88px;
    
    /* interface/bg */
    
    background: #131316;
    }

.burgerContainer{
    width: 568px;
    height: 80px;
}

.priceOrderContainer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.priceIconContainer{
    display: flex;
    align-items: center;
    gap: 8px;
}

.ingredientIconContainer{
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-end;
}

.orderContainer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: stretch;
}

.emptyIngredientContainer{
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2f2f37;
    width: 100%;
    min-height: 80px;
    max-width: 536px;
    font-family: 'Jet Brains Mono';
    font-size: 16px;
    line-height: 24px;
    color: #F2F2F3;
    flex-grow: 1;
    box-sizing: border-box;
}

.borderBun{
    border: 1px solid transparent;
    display: flex;
    flex-direction: row-reverse;
}

.borderIngredient{
    border: 1px solid transparent;
    gap: 16px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: stretch;
}

.scrollBar{
    height: 656px;
    overflow-y: auto;
}

.modalItems{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orderNumder{
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
}