@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../utils/fonts/JetBrainsMono-Regular.ttf') format('truetype');
  }

.cardContainer{
    background: #1C1C21;
    padding: 24px 24px;
    border-radius: 40px;
    margin-bottom: 16px;
}

.idAndDate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.cardTitle{
    align-items: center;
    justify-content: flex-start;
    display: flex;
    margin-bottom: 24px;
}

.ingredientsImg{
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.ingredientsIlustration{
    background: #000000;
    border: 2px solid;
    border-color: #801AB2;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.blurLabel{
    position: absolute;
    top: 0;
    width: 60px;
    height: 60px;
    background-color: rgba(19, 19, 19, 0.6);
    border: 2px solid #801AB2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    font-family: 'JetBrains Mono';
    color: #F2F2F3;
}

.blurLabel span {
    display: inline-block;
    transform: translateY(-4px);
}

.priceIcon {
    display: flex;
    align-items: center;
    gap: 8px;
}

.ilustrationContainer {
    position: relative;
    margin-bottom: 70px;
}

